
	<ul class="menu">
		<li class="menu"><a href="/auscities/" class="head">WEBSITE</a></li>
		{% if not request.session.logged %}
		<li class="menu"><a href="/auscities/login/" class="menu"> Login </a></li>
		<li class="menu"><a href="/auscities/register/" class="menu"> Register </a></li>
		{% elif request.session.logged %}
		<li class="menu"><a href="/auscities/location/" class="menu"> Locations </a></li>
		<li class="menu"><a href="/auscities/help/" class="menu"> Help </a></li>
		<li class="menu"><a href="/auscities/maps/" class="menu"> Maps </a></li>
		<li class="logout"><a href="/auscities/logout/" class="menu"> Log out </a></li>
		{% endif %}
	</ul>
