<!DOCTYPE HTML>
<html>
{% load static %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'auscities/styleTwo.css' %}" />

	<title>Smart City</title>
</head>


<body>
	<div id="header">
		{% include "auscities/header.html" %}
		<h3>{{ info.name }}</h3>
	</div>
	
	<div id="history">
		{% for item in history_tabs %}
		<a href="/location/{{ item.locationid }}">{{ item.name }} ></a>
		{% endfor %}
	</div>
	
	<div id="wrapper">
	
	<div id="picture"></div>
	
	<div id="floater">
	
	<div id="contentleft">
		<div class="data">
			<h3>Address</h3>
			<p>{{ info.address }}</p>
		</div>
		<div class="data">
			<h3>Website</h3>
			<p><a href="{{ info.website }}">{{ info.website }}</a></p>
		</div>	
	</div>
	
	<div id="contentmiddle">
		<div class="data">
			<h3>City</h3>
			<p>{{ info.city }}</p>
		</div>
		<div class="data">
			<h3>Phone Number</h3>
			<p>{{ info.phonenumber }}</p>
		</div>
	</div>
	
	<div id="contentright">
		<div class="data">
			<h3>Location Type</h3>
			<p>{{ info.locationtype }}</p>
		</div>
		<div class="data">
			<h3>Email Address</h3>
			<p>{{ info.emailaddress }}</p>
		</div>
	</div>
	
	
	</div>
	</div>
	
	<div id="footer">
		<a href="/about/"> About </a>
	</div>
	
</body>
</html>





