{% load static %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'auscities/style.css' %}" />

</head>

<body>
	{% include "auscities/header.html" %}
	<div class="pushdown">
		<form action="/auscities/login/" method="post">
		{% csrf_token %}
		{% if not request.session.logged %}
		{{ form.as_p }}
		<input type="submit" value="Login"/>
		{% elif request.session.logged %}
		</p>You are already logged in.
		Username: {{ request.session.user }}
		{% endif %}
		</form>
	</div>
</body>
{% include "auscities/footer.html" %}
