{% load static %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'auscities/style.css' %}" />
</head>
<body>
	{% include "auscities/header.html" %}
	<div class="pushdown">
		<form action="/auscities/register/" method="post">
		{% csrf_token %}
		{{ form.as_p}} 
		<!-- <p>
		{{ form.username.label }}
		{{ form.username }}
		</p>
		<p>
		{{ form.password.label }}
		{{ form.password }}
		</p>
		<p>
		{{ form.confirm.label }}
		{{ form.confirm }}
		</p>
		<p>
		{{ form.userType.label }}
		{{ form.userType }}
		{{ from.usertype }}
		</p>
		<p>
		{{ form.email.label }}
		{{ form.email }}
		</p> -->

		<input type="submit" value="Register"/>
		</form>
	</div>
	{% include "auscities/footer.html" %}
</body>