{% load static %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'auscities/style.css' %}" />
</head>
<body>
	{% include "auscities/header.html" %}
	<div class="pushdown">
		<form action="/auscities/register/" method="post">
		{% csrf_token %}
		<p>{{ form.non_field_errors.as_text }} </p>
		<!-- {{ form.as_p}} --> 
		<p>
		{{ form.username.label_tag }}
		{{ form.username }}
		</p>
		<p>
		{{ form.password.label_tag }}
		{{ form.password }}
		</p>
		<p>
		{{ form.confirm.label_tag }}
		{{ form.confirm }}
		</p>
		<p>
		{{ form.userType.label_tag }}
		{{ form.userType }}
		</p>
		<p>
		{{ form.email.label_tag }}
		{{ form.email }}
		</p>
		{% for field in form %}
		<p>{{ field.errors.as_text }}</p>
		{% endfor %}
		<input type="submit" value="Register"/>
		</form>
	</div>
	{% include "auscities/footer.html" %}
</body>