<!DOCTYPE HTML>
<html>
{% load static %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'auscities/styleTwo.css' %}" />

	<title>Smart City</title>
</head>


<body>
	<div id="header">
	{% include "auscities/header.html" %}
		<h3>You're Viewing Tourist Results</h3>
	</div>
	<div id="contentfirst">
		<h4>Most Relevant Tourist Information</h4>
		<table>
			<th>name</th>
			<th>address</th>
			<th>city</th>
			<th>phone number</th>
			<th>email address</th>
			<th>Location type</th>
			
			{% for item in Tourist_hotel %}
			<tr>
			
				<td><a href="/location/{{ item.locationid }}">{{ item.name }}</a></td>
				<td>{{ item.address }}</td>
				<td>{{ item.city }}</td>
				<td>{{ item.phonenumber }}</td>
				<td>{{ item.emailaddress }}</td>
				<td>{{ item.locationtype }}</td>
			</tr>
			{% endfor %}
			
		</table>
			<br>
			<br>
			<h4>Other City Information</h4>
			
		<table>
			<th>name</th>
			<th>address</th>
			<th>city</th>
			<th>phone number</th>
			<th>email address</th>
			<th>Location type</th>
			
			
			{% for item in location_info %}
			<tr>
			
				<td><a href="/location/{{ item.locationid }}">{{ item.name }}</a></td>
				<td>{{ item.address }}</td>
				<td>{{ item.city }}</td>
				<td>{{ item.phonenumber }}</td>
				<td>{{ item.emailaddress }}</td>
				<td>{{ item.locationtype }}</td>
			</tr>
			{% endfor %}
			
		
		</table>	
	</div>
	</p>
