<!DOCTYPE html>
<html>

    <head>
       <center> <title>Smart City</title>
    </head>

    <body>
        <h1>About</h1>
	<div>
	SmartCity can be used to find out information about any given city. Starting out with Brisbane city,
	<div>
	users can register accounts as Students, Tourists or Businessmen and view information about the city
	<div>
	to help plan journies, and ensure that any trip to a new city is well planned for. The user can look
	<div>
	information about:
	<div>
	Libraries
	<div>
	Colleges
	<div>
	Hotels
	<div>
	Industries
	<div>
	Parks
	<div>
	Zoos
	<div>
	Museums
	<div>
	Restaurants
	<div>
	Malls
	<div> <br />
	</center>
    </body>

</html>
